/* Cleaning default settings */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(212, 206, 206);
}

#shortcuts {
    background: rgb(255, 242, 242);
    border-bottom: 1px solid rgb(77, 73, 73);
    height: 40px;
    position: fixed;
    width: 100%;
    top: 0;
}

#area1 {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}

.green {
    color: green;
}

#logo {
    float: left;
}

#links {
    padding: 10px 0px 10px 0px;
    float: right;
}

a {
    text-decoration: none;
    padding: 5px 10px;
}

a:link {
    color: rgb(69, 151, 69);
}

a:visited {
    color: rgb(69, 151, 69);
}

a:hover {
    background: rgb(197, 248, 197);
}

a:active {
    color: rgb(33, 102, 51);
}

.post {
    background: white;
    width: 1200px;
    height: 300px;
    margin: 60px auto -40px auto;
}

.title {
    margin-left: 10px;
}

.datePost {
    font-size: 14px;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    margin: 5px 10px 5px;
    display: block;
}

.imgPost {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    float: left;
    margin: 0px 10px 10px 10px;
}

.actualPost {
    margin: 10px 10px 20px 5px;
}

.author {
    border-left: 5px solid green;
    padding: 5px;
}