/* Cleaning default settings */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(212, 206, 206);
}

#shortcuts {
    background: rgb(255, 242, 242);
    border-bottom: 1px solid rgb(77, 73, 73);
    height: 40px;
}

#area1 {
    width: 1200px;
    height: 40px;
    margin-left: 350px;
}

.green {
    color: green;
}

#logo {
    float: left;
}

#links {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    float: right;
}

a {
    text-decoration: none;
    padding: 5px 10px;
}

a:link {
    color: rgb(69, 151, 69);
}

a:visited {
    color: rgb(69, 151, 69);
}

a:hover {
    background: rgb(197, 248, 197);
}

a:active {
    color: rgb(33, 102, 51);
}

.post {
    background: white;
    width: 1200px;
    height: 300px;
    margin-left: 350px;
    margin-top: 50px;
}

.title {
    margin-left: 10px;
}

.textPost {
    height: 220px;
    border: 1px solid blue;
}

.author {
    height: 40px;
    border: 1px solid red;
}